# environments
venv/
music-env/

# python cache
__pycache__/
*.pyc

# local DB / indexes
faces.index
faces.json

# test / temp files
test.jpg
test_*.py
embed_image.py
create_image.py

# OS junk
.DS_Store

# modal
.modal/

# random experiments
ano
kk
a*
